@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --azul-botao: #167BF7;
    --cinza-primario: #F9F9F9;
    --cinza-secundario: #C0C0C0;
    --cor-de-fundo: #000000;   
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
} 

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.container__apresentacao {
    width: 100vw;
    height: 100vh;
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 0 6rem;
}

.container__titulo--principal {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.container__botao--azul, .container__botao--branco {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1em;
}

.container__botao--azul {
    background-color: var(--azul-botao);
    border: none;
}

.container__botao--azul > a,
.container__botao--branco > a {
    padding: 1rem;
    color: var(--branco-principal);
}

.container__botao--branco {
    background-color: #ffffff00;
    border: solid 2px var(--branco-principal);
}

.container__imagem--principal{
    margin: 1em 0 2em;
}

.container__paragrafo--descricao {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__plataformas {
    display: flex;
    width: 100vw;
    height: 80vh;
}

.plataformas__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;
}

.plataformas__paragrafo {
    width: 80%;
    color: var(--cinza-secundario);
}

.plataformas__titulo {
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.plataformas__imagem {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.container__telas {
    display: flex;
    width: 100vw;
    height: 80vh;
    padding: 0 10rem 0 10rem;
}

.telas__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem;
}

.telas__paragrafo { 
    text-align: left;
    color: var(--cinza-secundario);
}

.telas__botao--azul {
    width: fit-content;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--azul-botao);
}

.telas__botao--azul > a {
    font-size: 1rem;
    color: var(--branco-principal);
}

.telas__imagem {
    width: 50%;
    margin: auto;
}

.container__notebook {
    display: flex;
    width: 100vw;
    height: 80vh;
}

.notebook__imagem {
    width: 50%;
    margin: auto;
    text-align: center;
}

.notebook__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;
}

.notebook__titulo {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.notebook__paragrafo {
    width: 80%;
    color: var(--cinza-secundario);
}

.container__dispositivos {
    width: 100vw;
    height: 60vh;
}

.dispositivos__titulo {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.dispositivos__imagens {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}


.container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-bottom: 5rem;
}

.footer__imagem--alura {
    padding-bottom: 3rem;
}

.footer__nav--links {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;    
    text-decoration: none; 
}

.footer__links {
    font-size: 1.2em;
    color: var(--branco-principal);
}

.footer__paragrafos {
    width: 85vw;
    text-align: center;
    color: var(--cinza-secundario);
}

.footer__paragrafo--copyright {
    padding-bottom: 1.5rem;   
}